@charset "UTF-8";
html, body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}

body {
	font-family: KarbidComp, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 700;
}

h1, .h1 {
	font-size: 2.0rem;
}

h2, .h2 {
	font-size: 1.8rem;
}

h3, .h3 {
	font-size: 1.6rem;
}

h4, .h4 {
	font-size: 1.4rem;
}

label {
	font-size: 1.2rem;
}

.btn {
	border: 0;
	font-weight: 600;
}

.btn-vote {
	text-align: left;
}

.btn-vote + .btn-vote {
	margin-top: 5px;
}

.btn-meta {
	font-weight: 400;
}

/*
.btn-success-light {
	color: #005d2a;
}

.btn-danger-light {
	color: #7f2222;
} 

.btn-success-light {
	background-color: #dff0d8;
}

.btn-danger-light {
	background-color: #f2dede;
}

.btn-info-light {
	background-color: #d9edf7;
}
*/

/*
.btn-success-light { 
  color: #006930; 
  background-color: #EFFBF4; 
  border-color: #EFFBF4; 
} 
 
.btn-success-light:hover, 
.btn-success-light:focus, 
.btn-success-light:active, 
.btn-success-light.active, 
.open .dropdown-toggle.btn-success-light { 
  color: #006930; 
  background-color: #bfeed4; 
  border-color: #EFFBF4; 
} 
 
.btn-success-light:active, 
.btn-success-light.active, 
.open .dropdown-toggle.btn-success-light { 
  background-image: none; 
} 
 
.btn-success-light.disabled, 
.btn-success-light[disabled], 
fieldset[disabled] .btn-success-light, 
.btn-success-light.disabled:hover, 
.btn-success-light[disabled]:hover, 
fieldset[disabled] .btn-success-light:hover, 
.btn-success-light.disabled:focus, 
.btn-success-light[disabled]:focus, 
fieldset[disabled] .btn-success-light:focus, 
.btn-success-light.disabled:active, 
.btn-success-light[disabled]:active, 
fieldset[disabled] .btn-success-light:active, 
.btn-success-light.disabled.active, 
.btn-success-light[disabled].active, 
fieldset[disabled] .btn-success-light.active { 
  background-color: #EFFBF4; 
  border-color: #EFFBF4; 
} 
 
.btn-success-light .badge { 
  color: #EFFBF4; 
  background-color: #006930; 
}

.btn-danger-light { 
  color: #8F2626; 
  background-color: #FFF3F3; 
  border-color: #FFF3F3; 
} 
 
.btn-danger-light:hover, 
.btn-danger-light:focus, 
.btn-danger-light:active, 
.btn-danger-light.active, 
.open .dropdown-toggle.btn-danger-light { 
  color: #8F2626; 
  background-color: #ffd0d0; 
  border-color: #FFF3F3; 
} 
 
.btn-danger-light:active, 
.btn-danger-light.active, 
.open .dropdown-toggle.btn-danger-light { 
  background-image: none; 
} 
 
.btn-danger-light.disabled, 
.btn-danger-light[disabled], 
fieldset[disabled] .btn-danger-light, 
.btn-danger-light.disabled:hover, 
.btn-danger-light[disabled]:hover, 
fieldset[disabled] .btn-danger-light:hover, 
.btn-danger-light.disabled:focus, 
.btn-danger-light[disabled]:focus, 
fieldset[disabled] .btn-danger-light:focus, 
.btn-danger-light.disabled:active, 
.btn-danger-light[disabled]:active, 
fieldset[disabled] .btn-danger-light:active, 
.btn-danger-light.disabled.active, 
.btn-danger-light[disabled].active, 
fieldset[disabled] .btn-danger-light.active { 
  background-color: #FFF3F3; 
  border-color: #FFF3F3; 
} 
 
.btn-danger-light .badge { 
  color: #FFF3F3; 
  background-color: #8F2626; 
}

.btn-info-light { 
  color: #025B77; 
  background-color: #EFF9FC; 
  border-color: #EFF9FC; 
} 
 
.btn-info-light:hover, 
.btn-info-light:focus, 
.btn-info-light:active, 
.btn-info-light.active, 
.open .dropdown-toggle.btn-info-light { 
  color: #025B77; 
  background-color: #c0e7f4; 
  border-color: #EFF9FC; 
} 
 
.btn-info-light:active, 
.btn-info-light.active, 
.open .dropdown-toggle.btn-info-light { 
  background-image: none; 
} 
 
.btn-info-light.disabled, 
.btn-info-light[disabled], 
fieldset[disabled] .btn-info-light, 
.btn-info-light.disabled:hover, 
.btn-info-light[disabled]:hover, 
fieldset[disabled] .btn-info-light:hover, 
.btn-info-light.disabled:focus, 
.btn-info-light[disabled]:focus, 
fieldset[disabled] .btn-info-light:focus, 
.btn-info-light.disabled:active, 
.btn-info-light[disabled]:active, 
fieldset[disabled] .btn-info-light:active, 
.btn-info-light.disabled.active, 
.btn-info-light[disabled].active, 
fieldset[disabled] .btn-info-light.active { 
  background-color: #EFF9FC; 
  border-color: #EFF9FC; 
} 
 
.btn-info-light .badge { 
  color: #EFF9FC; 
  background-color: #025B77; 
}
*/


.comment-details {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #aaa;
	font-size: 1.2rem;
	line-height: 1.4;
}

.comment-details strong {
	color: #222;
}

.comment-details > li {
	display: block;
}

/*
.comment-details > li + li:before {
    display: inline-block;
    content: "\2022";
    margin: 0 .5ex;
}
*/

.form-group-title {
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 20px;
}

.form-group {
	margin-bottom: 10px;
}


.image-preview {
	display: none !important;
	position: relative !important;
}

.image-caption {
	margin-top: 5px;
}

.input-daterange input {
    text-align: left;
}


.leaflet-container {
	font-family: KarbidComp, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

.leaflet-container .img-responsive {
	max-width: 100% !important;
}


.leaflet-popup-open .leaflet-control-container {
	display: none;
}

.leaflet-control-filtering a,
.leaflet-control-filtering a:hover {
	width: auto;
    height: auto;
    padding: 8px 15px;
    font-size: 1.4rem;
    font-weight: 700;
	line-height: 20px;
}

.leaflet-popup-content-wrapper {
	border-radius: 0;
}



.leaflet-popup-content {
    margin: 15px;
}

.leaflet-popup-title {
	margin-top: 0;
	margin-bottom: 10px;
	line-height: 1.5;
}

.leaflet-popup-content p {
	line-height: 1.5;
}

.leaflet-click-disabled {
	cursor: not-allowed;
}

.leaflet-click-dragblocker {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

.leaflet-marker-draggable {
	cursor: move;
	z-index: 1000;
}


.map-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.map-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}


.modal-header {
	border: 0;
}

.modal-footer {
	border: 0;
}

.pane-title {
	margin-top: 0;
	line-height: 30px;
}

.radio label, .checkbox label {
	font-size: 1em;
}
.radio-grid, .checkbox-grid {
    position: relative;
    display: inline-block;
    margin: 5px 0;
    width: 48%;
}


.radio-grid + .radio-grid,
.checkbox-grid + .checkbox-grid {
	margin-top: 5px;
}

.tab-content {
	position: fixed;
	width: 100%;
	height: 100%;
  	overflow-y: scroll;
  	-webkit-overflow-scrolling: touch;
}

.tab-content .tab-pane-main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.tab-content .tab-pane-side {
	position: relative;
	width: 100%;
	height: auto;
	padding: 15px;
}

.tab-content .tab-pane .tab-controls {
	display: none;
}

.tab-content .tab-pane.active .tab-controls {
	display: block;
}

.tab-content .tab-pane-map {
	display: block;
	margin-left: 100%;
}

.tab-content .tab-pane-map.active {
	margin-left: 0;
}

.text-success {
	color: #3c763d !important;
}

.text-danger {
	color: #a94442 !important;
}


@media (min-width: 768px) {
	
	h1, .h1 {
		font-size: 2.2rem;
	}
	
	h2, .h2 {
		font-size: 2.0rem;
	}
	
	h3, .h3 {
		font-size: 1.8rem;
	}
	
	h4, .h4 {
		font-size: 1.6rem;
	}
	
	label {
		font-size: 1.2rem;
	}
	
	.form-group-title {
		margin-top: 30px;
		margin-bottom: 15px;
	}
	
	.form-group {
		margin-bottom: 15px;
	}
	
	.leaflet-left .leaflet-control {
		margin-left: 15px;
	}
	
	.leaflet-right .leaflet-control {
		margin-right: 15px;
	}
	
	.leaflet-top .leaflet-control {
		margin-top: 15px;
	}
	
	.leaflet-popup-content {
		margin: 15px;
	}
	
	.leaflet-popup-title {
		margin-bottom: 15px;
	}
	
	.modal-header {
		padding: 20px 20px 10px 20px;
	}
	
	.modal-body {
		padding: 10px 20px;
	}
	
	.tab-content .tab-pane-main {
		width: auto;
		left: 0;
		right: 320px;
		margin: 0;
	}
	
	.tab-content .tab-pane-side {
		padding: 20px 15px;	
	}
	
	.tab-content .tab-pane-main.active {
		width: 100%;
	}
	
	.tab-content .tab-pane-side.active {
		position: absolute;
		top: 0;
		right: 0;
		width: 320px;
		min-height: 100%;
		-webkit-box-shadow: 0 0 20px rgba(0,0,0,.25);
		box-shadow: 0 0 20px rgba(0,0,0,.25);
		z-index: 2000;
	}


}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
	
	.btn-vote {
		padding: 10px 16px;
	}

	.btn-vote + .btn-vote {
		margin-top: 5px;
	}
	
	.form-group-title {
		margin-top: 40px;
		margin-bottom: 20px;
	}
	
	.form-group {
		margin-bottom: 20px;
	}
	
	.leaflet-popup-content {
		margin: 20px;
		line-height: normal;
	}

	.tab-content .tab-pane-main {
		right: 400px;
	}
	
	.tab-content .tab-pane-side {
		padding: 25px;	
	}

	.tab-content .tab-pane-side.active {
		width: 400px;
	}
	
}