@charset "UTF-8";
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

html {
		height: 100%;
}

.alert {
	margin: 0;
	border: 0;
	border-radius: 0;
}

.alert > p, .alert > ul {
    margin-bottom: 0;
}

.alert-fixed-top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: auto;
	height: auto;
	z-index: 1040;
}

.btn {
	border: 0;
	font-weight: 400;
	letter-spacing: .05em;
	text-transform: uppercase;
	transition: all 0.1s ease-in-out;
}

.btn-primary,
.btn-danger,
.btn-success {
	color: #fff !important;
}

.btn-navi {
	padding: 10px 15px;
	line-height: 20px;
}

.btn-circle {
	clear: both;
	float: left;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 50%;
	font-size: 125%;
	letter-spacing: 0;
}

.btn-info {
	background: #407;
	color: #ffffff;
}

.btn-info:focus {
	color: #ffffff;
	outline: 0 !important;
    -webkit-appearance: none;
}

.btn-info:hover {
	background: rgba(68, 0, 119, 0.75);
	color: #ffffff;
}

.close {
	font-weight: 300;
}

.image-preview {
	display: none;
}

.image-preview[width][height] {
	display: inline-block;
}

.img-responsive,
.leaflet-container .img-responsive {
	max-width: 100% !important;
}

.leaflet-container {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

.leaflet-control-attribution {
	display: none;
}

.leaflet-heatmap-layer {
	pointer-events: none;
	z-index: -1;
}

.leaflet-popup-content-wrapper {
	border-radius: 0;
}

.leaflet-popup-content p {
	
	word-break: break-all;
}

.leaflet-popup-mmenu .leaflet-popup-content-wrapper {
	padding: 0;
}

.leaflet-popup-mmenu .leaflet-popup-content {
	margin: 0;
	min-width: 240px;
	min-height: 360px;
}

.leaflet-click-disabled {
	cursor: not-allowed;
}

.leaflet-click-dragblocker {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

.leaflet-marker-draggable {
	cursor: move;
	z-index: 1000;
}

.leaflet-container .marker-cluster-small,
.leaflet-container .marker-cluster-small div,
.leaflet-container .marker-cluster-medium,
.leaflet-container .marker-cluster-medium div,
.leaflet-container .marker-cluster-large,
.leaflet-container .marker-cluster-large div {
    background-color: rgba(0, 134, 205, 0.6);
	color: #fff;
}




.map-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.map-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #666;
}

.map-header {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	padding: 10px;
	color: #fff;
}

.map-title {
	margin: 0 0 .5em;
	font-size: 1.25em;
	font-weight: 700;
	line-height: 1.1;
}


.map-controls {
	position: absolute;
	z-index: 1010;
}

.map-controls-bottom-left {
	bottom: 10px;
	left: 10px;
}

.map-controls > .btn + .btn {
	margin-top: 5px;
}

/*
.map-navigation {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.map-helpers {
	position: absolute;
	top: 10px;
	right: 10px;
	
}

.map-outputs ul {
	list-style: none;
	margin: 0;
	padding: 0;
	pointer-events: none;
}

.map-outputs ul > li {
	display: block;
}
*/

.leaflet-popup-open .map-header,
.leaflet-popup-open .map-helpers,
.leaflet-popup-open .map-controls,
.leaflet-popup-open .map-navigation {
	display: none;
}


.modal-header {
	border: 0;
}

.modal-footer {
	border: 0;
}

.mm-menu {
	width: 100%;
	background: #ffffff;
}

.mm-close-custom {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	padding: 10px 15px 10px 0;
	color: #000 !important;
	font-size: 20px;
	font-weight: 300;
	line-height: 20px;
	text-align: right;
	text-decoration: none;
	opacity: 0.2;
	z-index: 4;
}

.mm-close-custom:focus,
.mm-close-custom:hover {
	opacity: 0.5;
	text-decoration: none;
}

.mm-close-custom:after {
	content: '×';
}

.mm-menu .mm-navbar {
	font-size: 14px;
}

.mm-menu .mm-navbar > *,
.mm-menu .mm-navbar a {
	color: #666;
}

/*.mm-menu .mm-prev:hover:before, 
.mm-menu .mm-next:hover:after, 
.mm-menu .mm-arrow:hover:after {
	opacity: .5;
	
}*/

.mm-menu .mm-navbar .mm-title {
	color: #0078A8;
}

.mm-menu .mm-navbar a[href]:hover {
	opacity: .5;
}

.mm-menu .mm-navbar .mm-btn:first-child {
    padding-left: 15px;
    left: 0;
}

.mm-menu .mm-navbar .mm-btn:last-child {
    padding-right: 15px;
}

.mm-menu .mm-panels > .mm-panel {
	padding: 0 15px;
}

.mm-menu .mm-listview {
	font-size: 14px;
	line-height: 20px;
}

.mm-menu .mm-listview > li > a,
.mm-menu .mm-listview > li > span {
	padding: 10px 15px;
	color: #333;
	font-weight: 500;
}

.mm-menu .mm-panels > .mm-panel > .mm-listview {
    margin: 20px -15px;
}

.mm-menu .mm-panels > .mm-panel > .mm-navbar + .mm-listview {
    margin-top: -20px;
}


.mm-menu .mm-listview > li.mm-selected-parent {
	/*background: rgba(0,120,168,0.1);*/
}

.mm-menu .mm-listview > li:hover {
	background: rgba(0, 187, 85, .05);
}

.mm-menu .mm-listview > li.mm-selected {
	/*border-left-color: rgba(0,120,168, 1);
	border-left-width: 5px;
	color: #333;*/
	background: rgba(0, 187, 85, .1);
}

.mm-menu .mm-listview > li.mm-selected-parent > a {
	
}

.mm-menu .mm-listview .mm-selected-parent .mm-next:before {
	border-left-width: 5px;
	border-left-color: rgba(0,120,168, 1);
	right: 0;
	left: auto;
}

.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu .mm-listview > li.mm-selected > span {
	background: none;
	color: rgba(0, 187, 85, 1);
}

.mm-menu .mm-listview > li:not(.mm-divider):after {
	left: 0;
}

.mm-menu .mm-listview > li:not(.mm-divider):after {
	content: '';
	border-bottom-width: 1px;
	border-bottom-color: #eee;
}

.mm-menu .mm-listview > li:last-child:after {
	border-bottom: 0;
}

.mm-menu .mm-listview .mm-next:before {
	border-left-width: 0;
}

.mm-menu .mm-prev:before, 
.mm-menu .mm-next:after, 
.mm-menu .mm-arrow:after {
	border-width: 1px;
}

.mm-menu .mm-navbar .mm-btn:before,
.mm-menu .mm-navbar .mm-btn:after {
	border-color: #666;
}

.mm-menu .mm-listview > li .mm-prev:before,
.mm-menu .mm-listview > li .mm-next:after,
.mm-menu .mm-listview > li .mm-arrow:after {
	border-color: rgba(0,0,0,.25);
}

.mm-menu .mm-selected .mm-prev:before,
.mm-menu .mm-selected .mm-next:after,
.mm-menu .mm-selected .mm-arrow:after {
	border-color: #fff;
}

.mm-menu a.disabled {
	pointer-events: none;
}

.mm-menu a.disabled {
	opacity: .25;
}

.mm-menu .mm-alert {
	margin: -20px -15px;
	padding: 15px;
}

.mm-menu .mm-alert p {
	font-size: 16px;
}

.mm-menu .mm-form {
	margin: -20px -15px;
}

.mm-menu .mm-content {
	display: block;
	margin: -20px -15px;
	padding: 15px;
}

.mm-menu .mm-content p {
	font-size: 13px;
	line-height: 20px;
	overflow: hidden;
}

.mm-menu .mm-content:after {
	content: '';
	border-bottom-width: 1px;
	border-bottom-color: #eee;
}

.mm-menu .mm-content + .mm-form {
	margin-top: 20px;
}

.mm-menu .mm-content-thumbnail {
	display: none;
}

.mm-menu .mm-form .mm-textarea {
	height: 100%;
	padding: 15px;
	background: #fff;
	border: 0;
	border-radius: 0;
	font-size: 13px;
	resize: none;
	outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) /*, 0 0 8px rgba(118, 205, 230, 0.6)*/;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) /*, 0 0 8px rgba(118, 205, 230, 0.6)*/;
}

.mm-menu .mm-form .mm-textarea:hover {
	background: rgba(0, 187, 85, .05);
	cursor: pointer;
}

.mm-menu .mm-form .mm-textarea.mm-selected {
	background: rgba(0, 187, 85, .1);
	color: rgba(0, 187, 85, 1);
}

.mm-disabled * {
	opacity: .5;
	text-decoration: line-through;
}



.option-select-image {
	float: left;
	position: relative;
	margin: 0 1ex 0 0;
}

.option-select-image-hover {
	position: absolute;
	display: block;
	bottom: -4px;
	right: -4px;
	width: 20px;
	height: 20px;
	pointer-events: none;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: rgba(0, 120, 168, .5);
	border-radius: 100%;
}

.option-select-image:hover .option-select-image-hover {
	background: rgba(0, 120, 168, .75);
}

.option-select-label {
	padding-right: 2ex;
	font-size: 13px;
	overflow: normal;
	pointer-events: none;
	text-overflow: ellipsis;
	white-space: normal;
}

.option-select-meta {
	float: right;
	opacity: .5;
	font-size: 80%;
	font-weight: 400;
	pointer-events: none;
}

.pointer-events-none {
	pointer-events: none;
}

.progress {
    height: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.tab-content {
	position: relative;
	width: 100%;
	min-height: 100%;
}

.tab-content .tab-pane-main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.tab-content .tab-pane-side {
	position: relative;
	width: 100%;
	min-height: 100%;
}


.tab-content .tab-pane .tab-controls {
	display: none;
}

.tab-content .tab-pane.active .tab-controls {
	display: block;
	position: fixed;
	top: 15px;
	right: 15px;
	z-index: 1090;
}

.tab-content .tab-pane-map {
	display: block;
	margin-left: 100%;
}

.tab-content .tab-pane-map.active {
	margin-left: 0;
}



.text-success {
	color: #3c763d !important;
}

.text-danger {
	color: #a94442 !important;
}


@media (min-width: 768px) {
	
	h1, .h1, 
	h2, .h2, 
	h3, .h3,
	h4, .h4, 
	h5, .h5, 
	h6, .h6 {
		margin-top: 30px;
		margin-bottom: 20px;
	}
	
	.btn-circle {
		width: 50px;
		height: 50px;
		font-size: 150%;
	}
	
	.btn-navi {
		padding: 15px 20px;
		font-size: 125%;
		line-height: 20px;
	}
	
	.lead {
		margin-bottom: 15px;
	}


	.map-header {
		padding: 15px;
		max-width: 480px;
	}
	
	.map-controls-bottom-left {
		bottom: 15px;
		left: 15px;
	}
	
	.map-controls > .btn+.btn {
		margin-top: 10px;
	}
	
	.map-navigation {
		bottom: 15px;
		right: 15px;
	}
	
	.map-helpers {
		top: 15px;
		right: 15px;
	}
	.leaflet-popup-mmenu .leaflet-popup-content {
		margin: 0;
		min-width: 480px;
		width: 100%;
		min-height: 480px;
	}
	
	.leaflet-popup-mmenu .leaflet-popup-content .mm-menu {
		max-width: none;
	}
	
	.leaflet-popup-open .map-header,
	.leaflet-popup-open .map-helpers,
	.leaflet-popup-open .map-controls,
	.leaflet-popup-open .map-navigation {
		/* display: block; */ 
	}
	
	.mm-menu .mm-content p {
		font-size: 14px;
	}
	
	.mm-menu .mm-textarea {
		font-size: 14px;
	}
	
	.mm-menu .mm-content-thumbnail {
		display: block;
		float: right;
		width: 25%;
		height: auto;
		margin: 0 0 0 15px;
	}
	
	.modal-header {
		padding: 20px 20px 10px 20px;
	}
	
	.modal-body {
		padding: 10px 20px;
	}
	
	.tab-content .tab-pane-main {
		width: auto;
		left: 0;
		right: 320px;
		margin: 0;
	}
	
	.tab-content .tab-pane-main.active {
		width: 100%;
	}
	
	.tab-content .tab-pane-side.active {
		position: absolute;
		top: 0;
		right: 0;
		width: 320px;
		min-height: 100%;
	}


}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
	
	.modal-header {
		padding: 30px 30px 15px 30px;
	}
	
	.modal-body {
		padding: 15px 30px;
	}
	
	.modal-footer {
		padding: 15px 30px 30px 30px;
	}
	
}